/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* wrappers */
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.container {
  max-width: 390px;

  padding-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* cart */
.cart-item {
  display: flex;
  gap: 10px;

  padding: 0 20px;
}

.item-img {
  width: 150px;
  height: 150px;
}

.item-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  padding: 16px 0;

  flex-grow: 1;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  width: 100%;
}

.item-name {
  word-break: break-all;

  flex-basis: 60%;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-dec,
.button-inc {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  border-radius: 8px;
  padding: 4px 8px;

  border: none;
  outline: none;

  width: 40px;
}

.button-dec {
  background-color: tomato;
}

.button-inc {
  background-color: lightgreen;
}

.item-count {
  height: fit-content;
}
